/* Box sizing rules */

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* START OF STYLES */

:root {
    --base-hue: 0;
    --sat-5: 5%;
    --sat-50: 50%;
    --sat-90: 90%;
    --light-5: 5%;
    --light-30: 30%;
    --light-70: 70%;
    --light-90: 90%;

    --gap-1: 1rem;
    --gap-2: 1.5rem;
    --gap-3: 2rem;
    --grid-size: 3;

    --animate-snap: cubic-bezier(.54,0,1,.56);
    --animate-slow-start: cubic-bezier(.69,.08,.44,.82);
}

body {
    font-size: clamp(20px, 2.2rem, 26px);
    font-family: "Chakra Petch", Arial, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    --bg-hue: var(--base-hue);
    --txt-hue: calc(var(--base-hue) - 110);
    background: hsl(var(--bg-hue), var(--sat-90), var(--light-5));
    color: hsl(var(--bg-hue), var(--sat-5), var(--light-90));
    grid-column: 1 / 3;
    width: 200px;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    scale: 1;
    box-shadow: 0 2px 3px hsla(0, 10%, 20%, 0.6);
    transition: scale 150ms var(--animate-slow-start),
                box-shadow 150ms var(--animate-slow-start);
}

button:hover,
button:focus-within {
    scale: 1.15;
    box-shadow: 0 4px 5px hsla(0, 10%, 20%, 0.6);
}


input[type="radio"] {
    /* Gets rid of chrome rectangle box shadow*/
    scale: 1;
    transition: scale 150ms ease-in-out;
}

input[type="radio"]:hover,
input[type="radio"]:focus-within {
    scale: 1.15;
}

#outer-container {
    --bg-hue: var(--base-hue);
    background: hsl(var(--bg-hue), var(--sat-50), var(--light-90));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
    width: 100svw;
}

#player-display {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: var(--gap-1);
}

@media (min-width: 800px) {
    #outer-container {
        display: flex;
        flex-direction: row;
    }
   
    #player-display {
        width: auto;
        height: 100%;
        margin-right: 5vw;
        flex-direction: column;
    }
}

div[id^="player"][id$="card"] {
    padding: 1rem;
    border-radius: 8px;
    scale: 1;
    border: none;
    box-shadow: none;
    transition: scale 200ms var(--animate-slow-start),
                border 200ms var(--animate-slow-start),
                box-shadow 200ms var(--animate-slow-start);
}

div[id^="player"][id$="card"].current-player {
    scale: 1.2;
    border: 1px solid hsl(var(--base-hue), var(--sat-5), var(--light-5));
    box-shadow: 0 2px 5px hsl(var(--base-hue), var(--sat-5), var(--light-5));
}

#inner-grid {
    --bg-hue: calc(var(--base-hue) - 110);
    background: hsl(var(--bg-hue), var(--sat-5), var(--light-90));
    border-radius: 8px;
    height: min(90vw, 90vh);
    width: min(90vw, 90vh);

    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    align-items: stretch;
    justify-content: stretch;

    gap: 0.2rem;
    padding: var(--gap-1);
    margin-bottom: var(--gap-1);
}

#inner-grid > .square {
    --bg-hue: calc(var(--base-hue));
    background: hsl(var(--bg-hue), var(--sat-50), var(--light-5));

    border-radius: 3px;
    transition: background 150ms var(--animate-slow-start);
}

/* MODALS */



#welcome-animation,
#welcome-modal-container,
#display-winner-container,
#display-draw-container {
    position: fixed;
    display: none;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: transparent;
    opacity: 0;
    z-index: 100;
    transition: opacity 300ms ease-in-out;
}

#welcome-animation.active,
#welcome-modal-container.active,
#display-draw-container.active,
#display-winner-container.active {
    display: flex;
    height: 100svh;
    width: 100svw;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

#welcome-animation.active {
    --bg-hue: var(--base-hue);
    background: hsla(var(--bg-hue), var(--sat-5), var(--light-5), 1);
}

#welcome-modal-container.active {
    --bg-hue: var(--base-hue);
    background: hsla(var(--bg-hue), var(--sat-5), var(--light-5), 0.9);
}

#display-draw-container.active,
#display-winner-container.active {
    --bg-hue: var(--base-hue);
    background: hsla(var(--bg-hue), var(--sat-5), var(--light-5), 0.3);
}

#welcome-modal-flex {
    --bg-hue: var(--base-hue);
    background: hsl(var(--bg-hue), var(--sat-50), var(--light-90));

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    border-radius: 1rem;
    height: 95%;
    width: 95%;
    align-items: center;
    justify-content: center;
}

#display-winner-flex,
#display-draw-flex {
    --bg-hue: var(--base-hue);
    background: hsl(var(--bg-hue), var(--sat-50), var(--light-90));

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    border-radius: 1rem;
    height: 35%;
    width: 55%;
    align-items: center;
    justify-content: center;
    opacity: 1;
    scale: 1;
    transition: scale 200ms ease-in-out,
                opacity 200ms ease-in-out;
}

#welcome-modal-flex.fade,
#display-winner-flex.fade,
#display-draw-flex.fade {
    opacity: 0;
    scale: 8;
    display: none;
}

#radio-grid,
#radio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

#radio-container {
    grid-column: 1 / 4;
    position: relative;
    margin-bottom: 1.2rem;
}

#radio-container::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 2px;
    border-radius: 1px;
    background: hsl(0, 10%, 20%);
    opacity: 0.8;
    top: 200%;
    left: 10%;
}

#radio-grid > label {
    text-align: center;
}

#radio-buttons-title {
    font-size: clamp(18px, 2.2rem, 28px);
    grid-column: 1 / 4;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 9999px;
    box-shadow: 0 2px 5px hsla(0, 10%, 20%, 0.6);
}

#custom-options {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    opacity: 1;
    left: 0;
    transition: opacity 150ms var(--animate-slow-start),
                left 300ms var(--animate-slow-start);
}

#custom-options > input {
    margin-bottom: 0.5rem;
}

#tic-tac-toe-description,
#connect-four-description {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 45vh;
    opacity: 1;
    text-align: center;
    transition: opacity 150ms var(--animate-slow-start),
                left 300ms var(--animate-slow-start);
}

#tic-tac-toe-description.slide-out,
#connect-four-description.slide-out, 
#custom-options.slide-out {
    opacity: 0; 
    left: 150%;
}

#tic-tac-toe-description.slide-in,
#connect-four-description.slide-in, 
#custom-options.slide-in {
    opacity: 0;
    left: -150%;
}

#custom-options > input {
    max-height: 30px;
}

#confirm-button-wrapper {
    position: relative;
}

#confirm-button-wrapper:after {
    position: absolute;
    content: "";
    width: 170%;
    height: 2px;
    border-radius: 1px;
    background: hsl(0, 10%, 20%);
    opacity: 0.8;
    top: -40%;
    left: -35%;
}

/* WELCOME ANIMATION */

#animation-container {
    position: relative;
    height: min(98vw, 98vh);
    width: min(98vw, 98vh);
}

#animation-container > .square {
    --bg-hue: var(--base-hue);
    background: hsl(var(--bg-hue), var(--sat-5), var(--light-90));
    --box-size: min(30vw, 30vh);

    position: absolute;
    width: var(--box-size);
    height: var(--box-size);

    border-radius: 3px;
    transition: opacity 200ms var(--animate-slow-start),
                top 200ms var(--animate-slow-start),
                left 200ms var(--animate-slow-start);
}

.square-1 {
    top: 10%;
    left: -20%;
    opacity: 0;
}
.square-2 {
    top: 120%;
    left: 43%;
    opacity: 0;
}
.square-3 {
    top: 10%;
    left: 120%;
    opacity: 0;
}
.square-4 {
    top: 120%;
    left: 20%;
    opacity: 0;
}
.square-5 {
    top: 43%;
    left: -20%;
    opacity: 0;
}
.square-6 {
    top: -20%;
    left: 61%;
    opacity: 0;
}
.square-7 {
    top: 76%;
    left: -20%;
    opacity: 0;
}
.square-8 {
    top: 76%;
    left: -20%;
    opacity: 0;
}
.square-9 {
    top: 120%;
    left: 120%;
    opacity: 0;
}

.square-1.settle {
    top: 0;
    left: 0;
    opacity: 1;
}
.square-2.settle {
    top: 0;
    left: 35%;
    opacity: 1;
}
.square-3.settle {
    top: 0;
    left: 70%;
    opacity: 1;
}
.square-4.settle {
    top: 35%;
    left: 0;
    opacity: 1;
}
.square-5.settle {
    top: 35%;
    left: 35%;
    opacity: 1;
}
.square-6.settle {
    top: 35%;
    left: 70%;
    opacity: 1;
}
.square-7.settle {
    top: 70%;
    left: 0;
    opacity: 1;
}
.square-8.settle {
    top: 70%;
    left: 35%;
    opacity: 1;
}
.square-9.settle {
    top: 70%;
    left: 70%;
    opacity: 1;
}

.cross {
    position: absolute;
    z-index: 200;
    background: hsl(0, 80%, 70%);
    width: min(20vh, 20vw);
    height: min(2vh, 2vw);
    border-radius: 9999px;
    transform: rotate(45deg);
    scale: 8;
    opacity: 0;
    transition: scale 150ms var(--animate-snap),
                opacity 150ms var(--animate-snap);
}

.cross::before {
    transform: rotate(90deg);
    position: absolute;
    content: "";
    z-index: 200;
    background: hsl(0, 80%, 70%);
    width: min(20vh, 20vw);
    height: min(2vh, 2vw);
    border-radius: 9999px;
}

.cross.active {
    scale: 1;
    opacity: 1;
}

.x-1 {
    top: 15%;
    left: 5%;
}

.x-2 {
    top: 50%;
    left: 40%;
}
.x-3 {
    top: 85%;
    left: 75%;
}

.circle {
    position: absolute;
    z-index: 200;
    background: transparent;
    width: min(15vh, 15vw);
    height: min(15vh, 15vw);
    border: min(2vw, 2vh) solid hsl(240, 80%, 70%);
    border-radius: 50%;
    scale: 8;
    opacity: 0;
    transition: scale 150ms var(--animate-snap),
                opacity 150ms var(--animate-snap);
}

.circle.active {
    scale: 1;
    opacity: 1;
}

.o-1 {
    top: 8%;
    left: 42%;
}
.o-2 {
    top: 43%;
    left: 77%;
}

.cross-line.left {
    position: absolute;
    z-index: 300;

    top: 48%;
    left: -9%;
    background: hsl(0, 80%, 70%);
    width: min(120vw, 120vh);
    height: min(5vw, 5vh);
    opacity: 0;
    scale: 8;
    border-radius: 9999px;
    transform: rotate(45deg);
    transition: width 150ms var(--animate-snap),
                opacity 150ms var(--animate-snap);
}

.cross-line.right {
    position: absolute;
    z-index: 300;

    top: 48%;
    left: -9%;
    background: hsl(0, 80%, 70%);
    width: min(120vw, 120vh);
    height: min(5vw, 5vh);
    opacity: 0;
    scale: 8;
    border-radius: 9999px;
    transform: rotate(-45deg);
    transition: scale 150ms var(--animate-snap),
                opacity 150ms var(--animate-snap);
}

.cross.active {
    scale: 1;
    opacity: 1;
}

.cross-line.active {
    scale: 1;
    opacity: 1;
}
